<!DOCTYPE html>
<html lang="en" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}" 
	>
<head>
<meta charset="ISO-8859-1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
<title>Insert title here</title>
	
</head>
<body>
	<section>
		
		

		<div class="main_box" >
			<!-- ......................carousel........start.................... -->
			<!-- th:src="@{/styles/photos/samsung.png}" -->
			<!-- ......................carousel........end.................... -->
			<div class="header">
				<h1>Spring Boot Security</h1>
				<p></p>
			</div>
			<div class="feature_p">
				<div class="feature_p_img">
					<img th:src="@{/styles/photos/Spring.png}" alt="Example Image" />
				</div>
				<div class="feature_p_content text-center">
				  <p style="color:white;font-size: 26px;">Spring Security is a powerful and highly customizable authentication and access-control framework.
					 It is the de-facto standard for securing Spring-based applications.</p>
					<a style="background-color: rgb(197, 22, 245); padding:2px 10px; border-radius: 3px; text-decoration: none; color:white;" href="">For More Info...</a>
				</div>
			</div>
	
			<div class="products">
				<div class="item">
					<h3 style="padding:0; margin:0;">Samsung ultra s23</h3>
						<a href="/product-details"><img th:src="@{/styles/photos/samsung.png}" alt="Example Image" /></a>
					<p>Price : BDT 190,999</p>
				</div>
				<div class="item">
					<h3 style="padding:0; margin:0;">Samsung ultra s23</h3>
						<a href="/product-details"><img th:src="@{/styles/photos/samsung.png}" alt="Example Image" /></a>
					<p>Price : BDT 190,999</p>
				</div>
				<div class="item">
					<h3 style="padding:0; margin:0;">Samsung ultra s23</h3>
						<a href="/product-details"><img th:src="@{/styles/photos/samsung.png}" alt="Example Image" /></a>
					<p>Price : BDT 190,999</p>
				</div>
				<div class="item">
					<h3 style="padding:0; margin:0;">Samsung ultra s23</h3>
						<a href="/product-details"><img th:src="@{/styles/photos/samsung.png}" alt="Example Image" /></a>
					<p>Price : BDT 190,999</p>
				</div>
				<div class="item">
					<h3 style="padding:0; margin:0;">Samsung ultra s23</h3>
						<a href="/product-details"><img th:src="@{/styles/photos/samsung.png}" alt="Example Image" /></a>
					<p>Price : BDT 190,999</p>
				</div>
				<div class="item">
					<h3 style="padding:0; margin:0;">Samsung ultra s23</h3>
						<a href="/product-details"><img th:src="@{/styles/photos/samsung.png}" alt="Example Image" /></a>
					<p>Price : BDT 190,999</p>
				</div>
	
			</div>
		</div>

	</section>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
</body>
</html>